.nav-bar {
    /* color: white !important; */
    /* background: red; */
    padding-left: 112px;
    top: 0px;
    position: sticky;
}

.nav-bar-logo {
    display: inline-block;
    /* font-family: nunito-black; */
    padding-right: 50px;
    font-weight: 900;
    color: var(--system-pink);
}
.nav-bar-button-container {
    display: inline-block;
}

.nav-bar-button {    
    color: #333;
    padding: 30px 20px;
    font-weight: bold;
}